.shoe-space{
    height:150px;
    ackground-color:red;
}
.shoe-space-two{
    height:120px;
    ackground-color:red;
}

.shoe-space-three{
    height:50px;
}
.upcoming-info{
    height:1000px;
    background-color:black;
    order:solid 1px yellow;
}

.upcoming-pic{
    height:1000px;
    background-color:black;
    order:solid 1px yellow;
}

.upcoming-pic-small img{
    width:380px;
    height:266px;
    display:none;
    order:solid 1px red;
    ackground-color:blue;
}

.upcoming-pic-small-two img{
    height:268px;
    width:500px;
    order:red 1px solid;
    margin-left:-20px;
    display:none;
    
}

.up-pic{
    height:200px;
    width:400px;
    ackground-color:red;
    margin-left:120px;
    margin-top:120px;
    
}

.up-pic-two{
    height:200px;
    width:400px;
    ackground-color:red;
    margin-left:120px;
    margin-top:120px;
    
}

.up-pic-two img{
    height:214px;
    width:400px;
    order:red 1px solid;
    
}

.up-pic img{
    width:380px;
    height:266px;
    order:red 1px solid;
}

.up-side{
    height:1000px;
    background-color:black;
}

.shoe-info{
    width:500px;
    height:400px;
    order:1px solid black;
    margin-top:150px;
    margin-left:200px;
    color:white;
    ackground-color:red;
}

.info-header{
    font-size:30px;
    order:solid black 1px;
    width:200px;
    text-align:center;
    margin-left:135px;
    font-family: 'Oswald', sans-serif;
    ont-family: 'Pragati Narrow', sans-serif;
}

.info{
    font-size:20px;
    text-indent:20px;
    font-family: 'Oswald', sans-serif;
    ont-family: 'Pragati Narrow', sans-serif;
    order:1px solid black;
}

@media screen and (max-width:992px) {
    .shoe-space{
        display:none;
    }
    .shoe-space-two{
        display:none;
    }
    .info-header{
        margin-left:110px;
    }
    .up-side{
        background-color:green;
        display:none;
    }
    .upcoming-info{
        height:1700px;
    }
    .shoe-info{
        margin-left:0px;
        width:400px;
        ackground-color:green;
    }   
    .upcoming-pic{
        display:none;
    }
    .upcoming-pic-small img{
        display:block;
        
    }
    
    .upcoming-pic-small-two img{
        display:block;
        order:red 1px solid;
        width:460px;
    }
}
@media screen and (min-width:992px) and (max-width:1700px){
    .shoe-info{
        margin-left:42px;
    }
}
/*-------------------------Navbar---------------------*/
.navbar-toggle .icon-bar{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}

.navbar a {
    color:white;
}
.top-page{
    font-family: 'Staatliches', cursive;
}

.spacer{
    padding:0px 150px 0px 150px;
    font-size:30px;
}

@media screen and (max-width:992px) {
    .spacer{
        padding:0px 0px 0px 0px;
    }   
}
@media screen and (min-width:992px) and (max-width:1700px){
    .spacer{
        padding:0px 100px 0px 100px;
    }
}
.container-fluid{
    width:100%;
}
/*---------------------frontpage-----------------------*/
d{
    background-color:green;
    height:900px;
    width:1427px;
}
.f{
    ackground-image:url("https://sneakernews.com/wp-content/uploads/2019/02/air-jordan-1-retro-high-og-555088-160-sail-phantom-red-5.jpg");
    ackground-image:url("https://codehs.com/uploads/a65c042edb4291ab2c9bc82474c5da68");
    background-image:url("https://codehs.com/uploads/edd8f748388f35a9c4e0c61d334da046");
    background-size:auto;
    background-repeat:no-repeat;
    background-color:#C60001;
    height:900px;
}
@media screen and (max-width:992px){
    .f{
        background-image:url("https://codehs.com/uploads/6f8ed8537852cbbc50efb410f1b34eae");
        height:275px;
    }
    
}
/*------Front-Side--------*/

.side-f{
    background-image:linear-gradient(#6F3710,#5A318C);
    height:900px;
}
.side-title{
    order: 1px solid black;
    font-size:90px;
    text-decoration:underline ;
    text-align:center;
}
.side-text{
    ackground-color:green;
    order:solid 1px black;
    color:black;
    font-family: 'Staatliches', cursive;
    margin-top:150px;
    text-align:center;
    height:800px;
    
}

.side-text p{
    font-size:45px;
    text-align:left;
    padding:0px 80px 0px 80px ;
    line-height:2;
}
@media screen and (max-width:992px){
    .side-f{
        height:200px;
    }
    .side-text p{
        font-size:23px;
        padding:0px 35px 0px 35px;
        
    }
    .side-title{
        font-size:35px;
    }
    .side-text{
        margin-top:10px;
        height:200px;
    }
}
@media screen and (min-width:992px) and (max-width:1700px){
    .side-f{
        height:400px;
    }
    .side-text p{
        font-size:35px;
    }
    .side-text{
        margin-top:60px;
    }
    .side-title{
        font-size:75px;
    }
}
/*---------------------bottompage----------------*/
.bottom{
    background-color:black;
    height:200px;
}

.bottom-text{
    font-family: 'Staatliches', cursive;
    font-size:50px;
    color:white;
    margin-top:50px;
    margin-left:100px;
    order:solid 1px white;
    width:500px;
}

.fa {
  padding: 20px;
  font-size:50px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration:none;
    color:gray;
}

.fa-twitter {
  background:black;
  color: white;
  border:solid white 2px;
}

.fa-youtube {
  background: black;
  color: white;
  border:solid white 2px;
}

.fa-instagram {
  background: black;
  color: white;
  border:solid white 2px;
}

.social-buttons{
    order:2px solid white;
    margin-left:1500px;
    margin-top:-75px;
    width:250px;
    height:100px;
    font-size:30px;
    
}
@media screen and (max-width:992px){
    .social-buttons{
        margin-top:-10px;
        margin-left:50px;
    }
    .bottom-text{
        margin-left:50px;
        width:300px;
        margin-top:10px;
        
    }
}
@media screen and (min-width:992px) and (max-width:1700px){
    .social-buttons{
        margin-left:900px;
    }
}
/*------------------------Meet the Team------------------------*/
.team-info{
    background-color:#692bde;
    height:600px;
    width:600px;
    font-size:40px;
    color:white;
    margin-left:200px;
    margin-top:200px;
    text-align:center;
    font-family: 'Oxygen', sans-serif;
    padding-top:125px;
    cursor: pointer;
    transition:width .5s, height,.5s;

}
.team-info p{
    font-size:37px;
    text-align:left;
    padding-left:15px;
    padding-top:10px;
}
.team-info2{
    background-color:#e05236;
    height:600px;
    width:600px;
    font-size:40px;
    color:white;
    margin-left:1100px;
    margin-top:-600px;
    text-align:center;
    font-family: 'Oxygen', sans-serif;
    padding-top:125px;
    cursor: pointer;
    transition:width .5s, height ,.5s;
}

.team-info2 p{
    font-size:37px;
    text-align:left;
    padding-left:15px;
    padding-top:10px;
}
.team-active{
    background-color:red;
}
.team-info:focus{
    width:1000px;
}
.team{
    background-image:linear-gradient(#e05236,#692bde);
    height:975px;
}

@media screen and (max-width:992px) {
    .team-info{
        margin-left:40px;
        margin-top:70px;
        padding-top:90px;
        width:350px;
        height:350px;
        font-size:35px;
    }
    
    .team-info p{
        font-size:20px;
    }
    
    .team-info2{
        margin-left:40px;
        margin-top:70px;
        padding-top:90px;
        width:350px;
        height:350px;
        font-size:35px;
    }
    
    .team-info2 p{
        font-size:20px;
    }
}

@media screen and (min-width:992px) and (max-width:1700px){
    .teaminfo{
        height:600px;
        width:600px;
        margin-left:100px;
        margin-top:100px;
    }
    .teaminfo2{
        height:600px;
        width:600px;
        margin-left:100px;
        margin-top:100px;
    }
}
    
